﻿@model Exercise_Bliss.Models.LoadingModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadingView</title>
</head>
<body onload="StartMyTimer();">
    <input type="hidden" value="True" id="internetStatus" />
    <div>
        @if (!Model.Connected)
        {
            <table style="width:100%;height:100%;margin-top:20%">
                <tr>
                    <td style="width: 100%" align="center" valign="middle">
                        @using (Html.BeginForm("GoTo", "Loading", FormMethod.Get))
                        {
                            <input type="submit" value="Go To" />
                        }
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%" align="center" valign="middle">
                        @using (Html.BeginForm("TryAgain", "Loading", FormMethod.Get))
                        {
                            <input type="submit" value="Try again" />
                        }
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>

<script type="text/javascript">
    function CheckInternetConnection()
    {
        var status = navigator.onLine;
        var hfInternetDisStatus = document.getElementById("internetStatus");
        if (!status) {
            hfInternetDisStatus.value = "False";
            window.location = "../Connectivity/ConnectivityView";
        }
    }

    function StartMyTimer()
    {
        setInterval(function () { CheckInternetConnection() }, 5000);
    }
</script>
