﻿@model Exercise_Bliss.Models.question

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body onload="StartMyTimer();">
    <input type="hidden" value="True" id="internetStatus" />

    @using (Html.BeginForm("SaveDetail", "List", FormMethod.Post))
    {
        <div>
            <h4>Question</h4>
            <hr />
            <dl class="dl-horizontal">
                @Html.HiddenFor(model => model.idQuestion)
                @Html.HiddenFor(model => model.Number)
                @Html.HiddenFor(model => model.Question1)
                <dt>
                    @Html.DisplayNameFor(model => model.Question1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Question1)
                </dd>
                <br />

                <dt>
                    @Html.DisplayNameFor(model => model.Number)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Number)
                </dd>
                <br />


                <dt>
                    @Html.DisplayNameFor(model => model.Answer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Answer)
                </dd>
                <br />
            </dl>
        </div>

        <div>
            Yes @Html.RadioButtonFor(model => model.Answer, "Yes")
            No @Html.RadioButtonFor(model => model.Answer, "No")
        </div>

        <br />
        <br />

        <input type="submit" value="Save" />

        @*@Html.ActionLink("Save", "SaveDetail")*@
    }

    <p>
        @Html.ActionLink("Back to List", "ListTableView")
    </p>

    <br />
    <br>

    @using (Html.BeginForm("SendEmail", "List", FormMethod.Post, null))
    {
        <input type="submit" value="Send email" />
    }
</body>
</html>

<script type="text/javascript">
    function CheckInternetConnection()
    {
        var status = navigator.onLine;
        var hfInternetDisStatus = document.getElementById("internetStatus");
        if (!status) {
            hfInternetDisStatus.value = "False";
            window.location = "../Connectivity/ConnectivityView";
        }
    }

    function StartMyTimer()
    {
        setInterval(function () { CheckInternetConnection() }, 5000);
    }
</script>
