﻿@model PagedList.IPagedList<Exercise_Bliss.Models.question>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListTableView</title>
</head>
<body onload="StartMyTimer();">
    <input type="hidden" value="True" id="internetStatus" />

    <br />
    <br>

    @using (Html.BeginForm("ListTableView", "List", FormMethod.Get))
    {
        @Html.TextBox("searching")<input type="submit" value="Search" />
    }

    @using (Html.BeginForm("ListTableView", "List", FormMethod.Get))
    {
        <input type="submit" value="Dismiss" />
    }

    <br />
    <br>

    <table class="table">
        <tr>
            <th width="">
                Number
            </th>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.idQuestion })
                </td>
            </tr>
        }

    </table>

    <br />
    <br>

    @using (Html.BeginForm("SendEmail", "List", FormMethod.Post, null))
    {
        <input type="submit" value="Send email" />
    }

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListTableView",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</body>
</html>

<script type="text/javascript">
    function CheckInternetConnection()
    {
        var status = navigator.onLine;
        var hfInternetDisStatus = document.getElementById("internetStatus");
        if (!status) {
            hfInternetDisStatus.value = "False";
            window.location = "../Connectivity/ConnectivityView";
        }
    }

    function StartMyTimer()
    {
        setInterval(function () { CheckInternetConnection() }, 5000);
    }
</script>
