﻿@model PagedList.IPagedList<Exercise_Bliss.Models.question>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*@model IEnumerable<Exercise_Bliss.Models.question>*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuestionView</title>
</head>
<body>

    <br />
    <br>

    @using (Html.BeginForm("QuestionView", "List", FormMethod.Get))
    {
        @Html.TextBox("question_filter")<input type="submit" value="Search" />
    }

    @using (Html.BeginForm("QuestionView", "List", FormMethod.Get))
    {
        <input type="submit" value="Dismiss" />
    }

    <br />
    <br>

    <table class="table">
        <tr>
            <th>
                Number
                @*@Html.DisplayNameFor(model => model.Number)*@
            </th>
            <th>
                Question
                @*@Html.DisplayNameFor(model => model.Question1)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question1)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.idQuestion })
                </td>
            </tr>
        }

    </table>

    <br />
    <br>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("QuestionView",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</body>
</html>
