﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConnectivityView</title>
</head>
<body onload="StartMyTimer();">
    <input type="hidden" value="True" id="internetStatus" />
    <div>
        Internet connection was lost.
    </div>
    </body>
</html>

<script type="text/javascript">
    function CheckInternetConnection()
    {
        var status = navigator.onLine;
        var hfInternetDisStatus = document.getElementById("internetStatus");
        if (!status) {
            hfInternetDisStatus.value = "False";
            window.location = "../Connectivity/ConnectivityView";
        }
    }

    function StartMyTimer()
    {
        setInterval(function () { CheckInternetConnection() }, 5000);
    }
</script>
